@charset "UTF-8";
:root {
  --text-main-col: #757575;
  --alt-text-col: #ffffff99;
  --logo-web-col: #2196f3;
  --logo-studio-col: #000000;
  --logo-studio-alt-col: #ffffff;
  --title-main-col: #ffffff;
  --title-sub-col: #212121;
  --acent-col: #2196f3;
  --portfolio-border: #eeeeee;
  --header-border: #ececec;
  --icon-col: #afb1b8;
  --bg-head: #ffffff;
  --bg-hero: #2f303a;
  --bg-team: #f5f4fa;
  --bg-foot: #2f303a;
  --main-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow-card: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-portfolio-card: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --box-shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --box-shadow-filter-btn: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.address__text--contacts, .subsсribe__input {
  color: var(--alt-text-col);
}

.btn-close, .features-list__icon, .direction-cards-set__caption, .social__link, .clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-list, .direction-cards-set, .team-cards-set, .portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: 1px solid red;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-family: var(--main-font);
  color: var(--text-main-col);
}

.link {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.link:hover,
.link:focus {
  color: var(--acent-col);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__logo {
  margin-right: 88px;
  padding: 16px 0px;
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.logo__color--blue {
  color: var(--logo-web-col);
}

.logo__color--black {
  color: var(--logo-studio-col);
}

.logo__color--white {
  color: var(--logo-studio-alt-col);
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .menu-nav {
    display: none;
  }
}

.menu-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu-nav__item:not(:last-child) {
  margin-right: 50px;
}

.menu-nav__link {
  padding: 32px 0px 32px 0px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-sub-col);
}

.menu-nav__link--current {
  color: var(--acent-col);
}

.menu-nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--acent-col);
  border-radius: 2px;
}

.menu-contacts {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .menu-contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-contacts {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .menu-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-contacts__item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-contacts__item:not(:last-child):not(:last-child) {
    margin-bottom: 10px;
  }
}

.menu-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .menu-contacts__link {
    padding: 32px 0px 32px 0px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.menu-contacts__svg {
  margin-right: 10px;
  fill: currentColor;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--acent-col);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: var(--box-shadow-btn);
          box-shadow: var(--box-shadow-btn);
}

.btn:hover {
  cursor: pointer;
}

.btn__hero {
  padding: 10px 32px;
  color: var(--title-main-col);
  margin: 0px auto;
}

.btn__subsсribe {
  padding: 10px 62px 10px 29px;
  width: 200px;
  height: 50px;
  color: var(--logo-studio-alt-col);
}

.btn__modal-submit {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  color: var(--logo-studio-alt-col);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.btn__modal-submit:hover, .btn__modal-submit:focus {
  background: #188ce8;
}

.btn-close {
  position: absolute;
  top: 8px;
  left: 490px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--bg-head);
}

.btn-close:hover {
  cursor: pointer;
}

.btn-close__svg {
  fill: var(--logo-studio-col);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.btn-close:hover .btn-close__svg,
.btn-close:focus .btn-close__svg {
  fill: var(--acent-col);
}

.features-list {
  margin-top: -30px;
  margin-left: -30px;
}

.features-list__item {
  margin-top: 30px;
  margin-left: 30px;
  -ms-flex-preferred-size: calc((100% - 4 * 30px) / 4);
      flex-basis: calc((100% - 4 * 30px) / 4);
}

.features-list__icon {
  margin-bottom: 30px;
  background-color: var(--bg-team);
  width: 270px;
  height: 120px;
  border-radius: 4px;
}

.features-list__cvg {
  width: 70px;
  height: 70px;
}

.direction-cards-set {
  margin-top: -30px;
  margin-left: -30px;
}

.direction-cards-set__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
      flex-basis: calc((100% - 3 * 30px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

.direction-cards-set__caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-main-col);
  background-color: rgba(47, 48, 58, 0.8);
}

.team-cards-set {
  margin-top: -30px;
  margin-left: -30px;
}

.team-cards-set__item {
  margin-top: 30px;
  margin-left: 30px;
  -ms-flex-preferred-size: calc((100% - 4 * 30px) / 4);
      flex-basis: calc((100% - 4 * 30px) / 4);
  -webkit-box-shadow: var(--box-shadow-card);
          box-shadow: var(--box-shadow-card);
  border-radius: 0px 0px 4px 4px;
}

.team-cards-set__content {
  background-color: var(--bg-head);
  padding: 30px;
  border-radius: 0px 0px 4px 4px;
}

.team-cards-set__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-sub-col);
}

.team-cards-set__text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-color: var(--bg-head);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.social__link:hover, .social__link:focus {
  background-color: var(--acent-col);
}

.social__svg {
  fill: var(--icon-col);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.social__link:hover .social__svg,
.social__link:focus .social__svg {
  fill: var(--bg-head);
}

.social__link--foot {
  background: rgba(255, 255, 255, 0.1);
}

.social__svg--foot {
  fill: var(--title-main-col);
}

.clients {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-color: var(--icon-col);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--acent-col);
}

.clients__svg {
  fill: var(--icon-col);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.clients__link:hover .clients__svg,
.clients__link:focus .clients__svg {
  fill: var(--acent-col);
}

.address {
  font-style: inherit;
  margin-top: 20px;
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__text {
  color: var(--title-main-col);
}

.subsсribe {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.address__text--contacts {
  color: var(--alt-text-col);
}

.subsсribe__input {
  width: 358px;
  height: 50px;
  padding: 15px 0px 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  outline: none;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.subsсribe__input:hover, .subsсribe__input:focus {
  border-color: var(--acent-col);
}

.subsсribe__svg {
  pointer-events: none;
  position: absolute;
  top: -50px;
  left: 518px;
  fill: var(--title-main-col);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filtr__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  display: inline-block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-sub-col);
  background-color: var(--bg-team);
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: var(--acent-col);
  color: var(--title-main-col);
  -webkit-box-shadow: var(--box-shadow-filter-btn);
          box-shadow: var(--box-shadow-filter-btn);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 300ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 300ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 300ms var(--timing-function), transform 250ms var(--timing-function);
  transition: opacity 300ms var(--timing-function), transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: opacity 300ms var(--timing-function), visibility 300ms var(--timing-function), -webkit-transform 300ms var(--timing-function);
  transition: opacity 300ms var(--timing-function), visibility 300ms var(--timing-function), -webkit-transform 300ms var(--timing-function);
  transition: opacity 300ms var(--timing-function), visibility 300ms var(--timing-function), transform 300ms var(--timing-function);
  transition: opacity 300ms var(--timing-function), visibility 300ms var(--timing-function), transform 300ms var(--timing-function), -webkit-transform 300ms var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  background-color: var(--bg-head);
  -webkit-box-shadow: var(--box-shadow-card);
          box-shadow: var(--box-shadow-card);
  border-radius: 4px;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-main-col);
}

.form-field__input {
  padding-left: 42px;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}

.form-field__input:focus, .form-field__input:hover {
  outline: none;
  border-color: var(--acent-col);
}

.form-field__svg {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--title-sub-col);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.form-field__input:focus + .form-field__svg {
  fill: var(--acent-col);
}

.form-field__comment {
  margin-bottom: 20px;
}

.form-field__input--comment {
  padding: 12px 16px;
  min-height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}

.form-field__input--comment:focus, .form-field__input--comment:hover {
  outline: none;
  border-color: var(--acent-col);
}

.form-field__input--comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input--comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input--comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input--comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement-conditions {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 36px;
  padding-right: 11px;
  margin-bottom: 30px;
}

.agreement-conditions__label {
  display: inline-block;
}

.agreement-conditions__label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-sub-col);
  border-radius: 2px;
  -webkit-transition: border-color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.agreement-conditions__input:checked + .agreement-conditions__label::after {
  border: none;
  background-image: url(../images/chek.svg);
  background-size: 11px 8px;
  background-position: 3px 4px;
  background-repeat: no-repeat;
  background-color: var(--acent-col);
}

.agreement-conditions__input:focus + .agreement-conditions__label::after {
  border-color: var(--acent-col);
}

.agreement-conditions__link {
  margin-left: auto;
  color: var(--acent-col);
}

.portfolio-list {
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-sub-col);
}

.portfolio-list__card {
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-list__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.portfolio-list__link:hover, .portfolio-list__link:focus {
  -webkit-box-shadow: var(--box-shadow-portfolio-card);
          box-shadow: var(--box-shadow-portfolio-card);
}

.portfolio-list__img {
  position: relative;
  overflow: hidden;
}

.portfolio-list__content {
  padding: 20px 24px;
  border-left: 1px solid var(--portfolio-border);
  border-right: 1px solid var(--portfolio-border);
  border-bottom: 1px solid var(--portfolio-border);
}

.portfolio-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-main-col);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--title-main-col);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.portfolio-list__link:hover .overlay,
.portfolio-list__link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-sub-col);
  text-align: center;
}

.header {
  border-bottom: 1px solid var(--header-border);
  background-color: var(--bg-head);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0px auto;
  background-color: var(--bg-hero);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-main-col);
}

.features {
  padding-top: 94px;
  background-color: var(--bg-head);
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-sub-col);
}

.direction {
  background-color: var(--bg-head);
}

@media screen and (max-width: 1199px) {
  .direction {
    display: none;
  }
}

.team {
  background-color: var(--bg-team);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-foot);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-main-col);
  margin-bottom: 20px;
}

.footer__address-block {
  width: calc(100% / 12 * 3);
}

.footer__social-block {
  padding-top: 12px;
  width: calc(100% / 12 * 3);
}

.footer__subscribe-block {
  padding-top: 12px;
  width: calc(100% / 12 * 6);
}

.portfolio {
  background-color: var(--bg-head);
}
/*# sourceMappingURL=main.css.map */