.team-cards-set {
  @extend %flex-wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-cards-set__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
  box-shadow: var(--box-shadow-card);
  border-radius: 0px 0px 4px 4px;
}

.team-cards-set__content {
  background-color: var(--bg-head);
  padding: 30px;
  border-radius: 0px 0px 4px 4px;
}

.team-cards-set__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-sub-col);
}

.team-cards-set__text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}
